.main-logo {
  font-size: 2.4rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 40px;

  @media (max-width: 991px) {
    flex: 1;
  }
}

.main-logo__blue {
  color: #002445 !important;
}
