.main-logo {
  width: 160px;
  height: auto;
  object-fit: cover;
  @media (max-width: 1138px) {
    width: 140px;
  }

  @media (max-width: 1130px) {
    width: 115px;
    width: 135px;
  }
  @media (max-width: 370px) {
    width: 115px;
  }
}
