.details-container {
  height: calc(100vh + 94px) !important;
  background-color: #e8f1fe;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 991px) {
    height: fit-content;
    padding-block: 50px 25px;
    flex-direction: column;
  }

  & > .details-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;

    @media (max-width: 991px) {
      flex-direction: column;
      height: max-content;
      gap: 50px;
      align-items: center;
    }
    & > .details-info {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > .details-title {
        padding-left: 50px;
        font-size: 6.5rem;
        font-weight: bold;
        color: #002445;
        position: relative;
        @media (max-width: 991px) {
          font-size: 3.7rem;
          padding-inline: 20px;
        }
        &::after {
          position: absolute;
          content: "";
          left: -10%;
          bottom: calc(50% - 1.5px);
          width: 15%;
          height: 3px;
          background-color: #002445;
          @media (max-width: 991px) {
            all: unset;
          }
        }
        & > .point {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          color: #2e75a9;
        }
      }
      & > .details-description {
        padding-left: 50px;
        color: #002f65;
        font-size: 2.1rem;
        font-weight: 300;
        position: relative;
        line-height: 30px;
        @media (max-width: 991px) {
          font-size: 1.7rem;
          margin-top: 10px;
          line-height: 25px;
          padding-inline: 20px;
          width: 90%;
        }
        @media (max-width: 991px) {
          font-size: 1.4rem;
          margin-top: 10px;
          line-height: 25px;
          padding-inline: 20px;
          width: 90%;
        }
        &::after {
          position: absolute;
          content: "";
          left: -5%;
          top: 11px;
          width: 10%;
          height: 3px;
          background-color: #a2d2ed;
          @media (max-width: 991px) {
            all: unset;
          }
        }
      }
    }

    & > .details-image__container {
      flex-basis: 40%;
      background-color: #8ed0ff;
      border-radius: 20px;
      height: 465px;
      width: 651px;
      position: relative;
      @media (max-width: 991px) {
        height: fit-content;
        width: 90%;
      }

      & > .detail-image {
        width: 40%;
        height: 55%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 84%;
        scale: 3.2;
        transform: translateX(-50%);
        @media (max-width: 991px) {
          position: relative;
          height: fit-content;
          scale: 1.5;
          left: 55%;
          transform: translateX(-50%);
        }
      }
    }

    & > .details-image__wrapper {
      flex-basis: 40%;
      position: relative;
      align-self: center;
      & > .detail-image {
        height: 473px;
        width: 100%;

        @media (max-width: 991px) {
          height: 252px;
          width: 100%;
          padding-inline: 10px;
        }
      }
    }
  }
}
