@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #e8f1fe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e4f1fe;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #002f65;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #002f65;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.hide {
  display: none;
}
