@font-face {
  font-family: "tango";
  src: url("./../fonts/TangoSans.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bold-tango";
  src: url("./../fonts/TangoSans_Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
