.contact-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 94px);
  background-color: #e8f1fe;
  padding-inline: 10%;
  gap: 25px;
  @media (max-width: 991px) {
    height: fit-content;
    justify-content: center;
    gap: 30px;
    padding-block: 30px;
  }

  & > .contact-title {
    font-size: 2.9rem;
    font-weight: bold;
    @media (max-width: 991px) {
      font-size: 2.3rem;
      margin-top: 90px;
    }
  }
  & > .contact-description {
    color: #717171;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    @media (max-width: 991px) {
      margin-block: 0px;
      font-size: 1.5rem;
    }
  }

  & > .form-contact__container {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: 567px;
    @media (max-width: 991px) {
      flex-direction: column;
      height: fit-content;
    }

    & > .form-information__container {
      flex-basis: 40%;
      background-color: #002445 !important;
      height: 98%;
      padding: 40px;
      margin: 8px;
      border-radius: 8px;
      @media (max-width: 991px) {
        width: 98%;
      }
      & > .form-information__title {
        color: white;
        font-size: 2.8rem;
        font-weight: 600;
        @media (max-width: 991px) {
          text-align: center;
        }
      }

      & > .form-information__details {
        display: flex;
        flex-direction: column;
        gap: 55px;
        margin-top: 100px;
        @media (max-width: 991px) {
          align-items: center;
          gap: 25px;
          margin-top: 50px;
        }
        & > ul {
          display: flex;
          align-items: center;
          gap: 25px;
          color: white;
          font-size: 1.6rem;
          @media (max-width: 991px) {
            flex-direction: column;
          }
          & > .li {
            line-height: 26px;
            @media (max-width: 991px) {
              text-align: center;
            }
          }

          & > .address-title {
            line-height: 25px;
            text-align: center;
          }
        }
      }
    }

    & > .form-container {
      flex-basis: 60%;
      background-color: white;
      height: 100%;
      padding: 50px 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      @media (max-width: 991px) {
        width: 100%;
        padding: 30px 20px;
        padding-bottom: 100px;
        gap: 55px;
      }

      & > .full-name__container,
      .contact-container,
      .subjects-container,
      .message-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
        @media (max-width: 991px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 55px;
        }
      }

      & .first-name__container,
      .last-name__container,
      .email-container,
      .phone-number__container {
        display: flex;
        flex-direction: column;
        gap: 2px;
        flex-basis: 47%;
        @media (max-width: 991px) {
          width: 100%;
        }
      }

      & label {
        font-weight: 500;
        font-size: 1.2rem;
        color: #8d8d8d;
        text-transform: capitalize;
      }
      & input {
        border-bottom: 1px solid #8d8d8d;
        font-size: 1.2rem;
        color: black !important;
        padding-block: 5px;
      }

      & .subjects-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 15px;

        & > .subjects-title {
          font-weight: 600;
          font-size: 1.4rem;
          color: #002f65;
          align-self: flex-start;
        }
        & .subjects {
          display: flex;
          align-items: center;
          gap: 25px;
          flex-wrap: wrap;
          & > .inquiry-container {
            display: flex;
            align-items: center;
            gap: 8px;
            input[type="radio"] {
              accent-color: #002f65;
            }
          }
        }
      }

      & .message-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        gap: 10px;
        width: 100%;

        & .message-field {
          width: 100%;
          color: black !important;
          &::placeholder {
            font-size: 1.5rem;
          }
        }
      }

      & .submit-button {
        align-self: flex-end;
        width: 209px;
        height: 49px;
        color: white;
        background-color: #002445 !important;
        @media (max-width: 991px) {
          align-self: center;
          width: 100%;
        }
      }

      & .letter-send__icon {
        position: absolute;
        bottom: -50px;
        left: -50px;
        @media (max-width: 991px) {
          scale: 0.7;
          bottom: -80px;
          left: 30%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
