.header-section {
  background: rgb(0, 36, 69);
  background: linear-gradient(
    180deg,
    rgba(0, 36, 69, 1) 0%,
    rgba(113, 178, 255, 1) 99%
  );
  height: calc(100vh + 94px);
  position: relative;
  overflow: hidden;

  @media (max-width: 991px) {
    height: 100vh;
  }

  & > .bottle-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70vh;
    animation: bottomAllBottleClose 1.8s ease-in-out;
  }
  & > .bottle-head {
    position: absolute;
    top: 20vh;
    left: calc(50%);
    animation-delay: 1s;
    width: 168px;
    animation: bottomBottleSmallMobileClosed 1.8s ease-in-out;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@keyframes bottomAllBottle {
  0% {
    top: 70vh;
  }
  50% {
    top: 51vh;
  }
  65% {
    top: 51vh;
  }
  100% {
    top: 70vh;
  }
}

// @keyframes bottomAllBottleClose {
//   0% {
//     top: 51vh;
//   }
//   50% {
//     top: 70vh;
//   }
//   65% {
//     top: 70vh;
//   }
//   100% {
//     top: 51vh;
//   }
// }

@keyframes bottomAllBottleClose {
  0% {
    top: 51vh;
  }
  100% {
    top: 70vh;
  }
  // 65% {
  //   top: 70vh;
  // }
  // 100% {
  //   top: 51vh;
  // }
}

@keyframes bottomBottleSmallMobile {
  0% {
    top: 20vh;
  }
  50% {
    top: calc(50vh - 10px);
  }
  65% {
    top: calc(50vh - 10px);
  }
  100% {
    top: 20vh;
  }
}

// @keyframes bottomBottleSmallMobileClosed {
//   0% {
//     top: calc(50vh - 10px);
//   }
//   50% {
//     top: 20vh;
//   }
//   65% {
//     top: 20vh;
//   }
//   100% {
//     top: calc(50vh - 10px);
//   }
// }

@keyframes bottomBottleSmallMobileClosed {
  0% {
    top: calc(50vh - 10px);
  }
  100% {
    top: 20vh;
  }
  // 65% {
  //   top: 20vh;
  // }
  // 100% {
  //   top: calc(50vh - 10px);
  // }
}
