@keyframes bottomAllBottle {
  0% {
    bottom: -320px;
  }
  50% {
    bottom: -25px;
  }
  65% {
    bottom: -25px;
  }
  100% {
    bottom: -320px;
  }
}
@keyframes bottomAllBottleMobile {
  0% {
    bottom: -160px;
  }
  50% {
    bottom: -25px;
  }
  65% {
    bottom: -25px;
  }
  100% {
    bottom: -160px;
  }
}
@keyframes bottomAllBottleSmallMobile {
  0% {
    bottom: -60%;
  }
  50% {
    bottom: -25%;
  }
  65% {
    bottom: -25%;
  }
  100% {
    bottom: -60%;
  }
}

@keyframes bottomBottle {
  0% {
    top: 0%;
  }
  50% {
    top: 12%;
  }
  65% {
    top: 12%;
  }
  100% {
    top: 0%;
  }
}
@keyframes bottomBottleMobile {
  0% {
    top: 15%;
  }
  50% {
    top: 50%;
  }
  65% {
    top: 50%;
  }
  100% {
    top: 15%;
  }
}
@keyframes bottomBottleSmallMobile {
  0% {
    top: 15%;
  }
  50% {
    top: 35%;
  }
  65% {
    top: 35%;
  }
  100% {
    top: 15%;
  }
}

.header-section {
  background: rgb(0, 36, 69);
  background: linear-gradient(
    180deg,
    rgba(0, 36, 69, 1) 0%,
    rgba(113, 178, 255, 1) 99%
  );
  height: calc(100vh + 94px);
  position: relative;
  overflow: hidden;

  @media (max-width: 991px) {
    height: 100vh;
  }

  & > .bottle-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -320px;
    animation: bottomAllBottle 2.8s ease-in-out;
    z-index: 2;

    @media (max-width: 991px) {
      bottom: -60%;
      animation: bottomAllBottleSmallMobile 2.8s ease-in-out;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  & > .bottle-head {
    position: absolute;
    top: 15%;
    left: 50%;
    animation-delay: 1s;
    width: 155px;
    animation: bottomBottleSmallMobile 2.8s ease-in-out;
    transform: translateX(-50%);

    @media (max-width: 991px) {
      top: 15%;
      left: 50%;
      animation: bottomBottleSmallMobile 2.8s ease-in-out;
    }

    // @media (max-width: 550px) {
    //   top: 15%;
    //   width: 105px;
    //   left: 50%;
    //   animation: bottomBottleSmallMobile 2.8s ease-in-out;
    // }
  }
}
