input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin-left: 40px;
  z-index: 999;
  scale: 0.7;
  position: fixed;
  right: 30px;
  @media (min-width: 992px) {
    display: none;
    margin-left: 0px;
  }
  @media (max-width: 450px) {
    margin-left: 12px;
    right: 10px;
  }
}

.top,
.middle,
.bottom {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.top-burger__item,
.middle-burger__item,
.bottom-burger__item {
  background: #012547 !important;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

.top-burger__item {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

.bottom-burger__item {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px !important;
  //   box-shadow: 0 0 10px #495057;
}

.middle-burger__item {
  transform: translateX(-20px);
  opacity: 0;
}
