@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-120px);
  }
  50% {
    transform: translateX(-240px);
  }
  75% {
    transform: translateX(-360px);
  }
  100% {
    transform: translateX(-480px);
  }
}
.brands-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #6f849e;

  & > .brands-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 100px;
    width: 100%;
    white-space: nowrap;
    animation: slide 9s linear infinite;
    display: -webkit-inline-box;
    & > img {
      margin-left: 180px;
      height: 90px;
      object-fit: contain;
      @media (max-width: 560px) {
        margin-left: 80px;
      }
    }
  }
}
