.home-details__container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 31.5%;
  left: 50%;
  transform: translateX(-50%);
  animation: bottomDetails 3.8s ease-in-out;
  width: 100%;

  & > .title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    animation: buttonScale 3s ease-in-out;

    @media (max-width: 767px) {
      font-size: 5rem;
      padding-inline: 10px;
    }
    @media (max-width: 459px) {
      font-size: 4rem;
    }
    @media (max-width: 365px) {
      font-size: 3.3rem;
    }
  }

  & > .description {
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    animation: buttonScale 3s ease-in-out;
    @media (max-width: 459px) {
      font-size: 1.6rem;
      padding-inline: 10px;
    }
    @media (max-width: 365px) {
      font-size: 1.4rem;
    }
  }
  & > .home-details__btn {
    font-weight: 300;
    font-size: 1.8rem;
    background-color: #002445;
    width: 234px;
    height: 54px;
    border-radius: 31px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    border: none;
    animation: buttonScale 3.6s ease-in-out;
  }
}

@keyframes bottomDetails {
  0% {
    top: 31.5%;
    opacity: 1;
    overflow: hidden;
  }
  20% {
    top: 34.5%;
    opacity: 0;
    overflow: hidden;
  }
  60% {
    top: 34.5%;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    top: 31.5%;
    opacity: 1;
    overflow: hidden;
  }
}
@keyframes bottomMobileDetails {
  0% {
    top: 24.5%;
    opacity: 1;
    overflow: hidden;
  }
  20% {
    top: 29%;
    opacity: 0;
    overflow: hidden;
  }
  60% {
    top: 29%;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    top: 24.5%;
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes buttonScale {
  0% {
    scale: 1;
  }
  30% {
    scale: 0;
  }
  50% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
