.our-work__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  & .our-work__image {
    width: 100vw;
    height: calc(100vh - 250px);
    contain: cover;
  }

  & > .scaled-work__image {
    height: calc(100vh - 100px);
    scale: 1.2;
  }

  .bg-icon {
    position: absolute;
    bottom: 0;
    left: 67vw;
    max-height: 60vh;
    z-index: 9;
  }
}
