@forward "./../../assets/style/index.scss";
@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    right: 0%;
    bottom: 0%;
    width: 150px;
    opacity: 0;
  }
  to {
    right: 0%;
    bottom: 0%;
    width: 250px;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 40px;
  background-color: #002445;
  padding-block: 25px;

  @media (max-width: 1350px) {
    padding-inline: 25px;
    padding-block: 20px;
  }
  @media (max-width: 991px) {
    padding-block: 20px;
    position: fixed;
    top: 0;
    z-index: 3;
  }

  & > .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    cursor: pointer;
    position: relative;

    @media (max-width: 1350px) {
      gap: 25px;
      font-size: 1.7rem;
    }
    @media (max-width: 1150px) {
      gap: 18px;
      font-size: 1.6rem;
    }
    @media (max-width: 991px) {
      position: fixed;
      flex-direction: column;
      align-items: flex-end;
      background-color: #e8f0ff;
      height: 100vh;
      padding: 75px 25px;
      z-index: 999;
      right: 0%;
      bottom: 0%;
      gap: 32px;
      width: 250px;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
      animation: slideIn 0.4s ease-out;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    @media (max-width: 330px) {
      width: 200px;
    }

    & > .list-item {
      color: white;
      @media (max-width: 991px) {
        color: #002445;
        font-weight: 800;
      }
      & > .link {
        all: unset;
        opacity: 0.5;
      }
      & > .link-active {
        opacity: 1 !important;
        animation: show 0.3s ease-in-out;
      }
    }
  }
  & > .nav-list__hide {
    display: none !important;
  }

  & > .nav-button {
    font-size: 2rem;
    width: 154px;
    height: 54px;
    border-radius: 42px !important;
    font-weight: 300;
    margin-left: 40px;
    @media (max-width: 991px) {
      margin-right: 100px;
    }
    @media (max-width: 1350px) {
      gap: 25px;
      font-size: 1.7rem;
    }
    @media (max-width: 450px) {
      width: 115px;
      height: 33px;
      font-size: 1.4rem;
      padding-inline: 10px;
      text-wrap: nowrap;
      margin-left: 15px;
      margin-right: 50px;
    }
    @media (max-width: 300px) {
      margin-right: 70px;
    }
  }
}
