.footer-container {
  padding: 34px 34px 10px 34px;
  background-color: #002445;

  & > .footer-top__section {
    border-radius: 8px;
    background: rgb(40, 93, 154);
    background: linear-gradient(
      360deg,
      rgba(40, 93, 154, 1) 0%,
      rgba(92, 151, 220, 1) 99%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
    gap: 25px;

    & > .subtitle {
      font-weight: 600;
      font-size: 1.3rem;
      letter-spacing: 1px;
      word-spacing: 1px;
      text-transform: uppercase;
      color: #002445;
    }

    & > .title {
      margin-top: 30px;
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 50px;
      color: #002445;
    }

    & > .footer-btn {
      width: 163px;
      height: 45px;
      border-radius: 35px !important;
      color: #002f65 !important;
      font-weight: 300;
      font-size: 1.6rem;
      background-color: white !important;

      &:hover {
        color: white !important;
        background-color: #002f65 !important;
      }
    }

    & > .country-title {
      font-size: 2rem;
      font-weight: 300;
      color: #002445;
      text-align: center;
    }

    & > .social-media__section {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  & > .footer-bottom__section {
    margin-top: 90px;
    & > .logo-title {
      font-size: 3.8rem;
      font-weight: 800;
      color: white;
      text-align: center;
    }

    & > .footer-info {
      display: flex;
      color: white;
      margin-top: 80px;
      position: relative;
      gap: 5%;
      padding-inline: 20px;
      align-self: flex-start;
      & > .info-list {
        font-size: 1.6rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-transform: capitalize;
        width: 330px;
        li {
          display: flex;
          align-items: flex-start;
          gap: 25px;
          line-height: 25px;
          &:first-child {
            font-weight: 600;
            font-size: 1.8rem;
          }
        }
      }
      &::before {
        position: absolute;
        content: "";
        top: -40px;
        left: 20px;
        right: 20px;
        height: 1px;
        background-color: #ffffff;
      }
    }
  }

  & .copy-right__title {
    margin-top: 65px;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: white;
  }
}
