@keyframes show {
  0% {
    opacity: 0.5;
    scale: 0.8;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #e8f1fe;
  @media (max-width: 991px) {
    height: fit-content;
    padding-inline: 10px;
  }
  & > .products-container__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 10%;
    @media (max-width: 991px) {
      flex-direction: column-reverse;
      padding-inline: 10px;
      gap: 30px;
    }
    & > .product-image__container {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      @media (max-width: 991px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      & > .bottle-image {
        width: 265px;
        height: 550px;
        @media (max-width: 991px) {
          height: 340px;
        }
        @media (max-width: 350px) {
          width: 200px;
          height: 300px;
        }
      }
      & > .image-description {
        align-self: flex-end;
        margin-bottom: 120px;
        position: relative;
        max-width: 237px;
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        &::before {
          position: absolute;
          content: "";
          width: 60%;
          height: 50%;
          right: 50%;
          top: -65px;
          border-top: 3px solid #000d7f;
          border-right: 3px solid #000d7f;
        }
        &::after {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          right: calc(50% - 3px);
          top: -25px;
          border-radius: 50%;
          background-color: #000d7f;
        }
        @media (max-width: 350px) {
          font-size: 1rem;
          padding-right: 5px;
        }
      }
    }

    & > .product-details__container {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      & > .product-material {
        color: #838383;
        font-weight: bold;
        font-size: 1.8rem;
        text-transform: uppercase;

        @media (max-width: 991px) {
          font-size: 1.3rem;
        }
        @media (max-width: 350px) {
          width: 100%;
          text-align: center;
          padding-inline: 30px;
        }
      }

      & > .product-title {
        font-size: 6.3rem;
        font-weight: bold;
        color: #002445;
        text-transform: uppercase;
        text-align: right;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          right: 0px;
          bottom: -7px;
          height: 3.5px;
          background-color: #002445;
          width: 55%;
          height: 2px;
          @media (max-width: 991px) {
            bottom: -10px;
          }
          @media (max-width: 350px) {
            display: none;
          }
        }
        @media (max-width: 991px) {
          font-size: 3.7rem;
        }
        @media (max-width: 450px) {
          width: 100%;
        }
        @media (max-width: 350px) {
          text-align: center;
          padding-inline: 30px;
        }

        & > .title {
          color: #2e75a9;
          text-align: right;
          position: relative;
          @media (max-width: 450px) {
            width: 100%;
          }
          @media (max-width: 350px) {
            text-align: center;
            padding-inline: 30px;
          }
        }

        & > .point {
          color: #2e75a9;
          @media (max-width: 350px) {
            display: none;
          }
        }
      }

      & > .product-detail {
        color: #002445;
        font-size: 1.7rem;
        text-align: end;
        line-height: 26px;
        width: 75%;
        position: relative;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media (max-width: 991px) {
          font-size: 1.3rem;
          line-height: 20px;
        }
        @media (max-width: 450px) {
          width: 100%;
          padding-right: 10px;
        }
        @media (max-width: 350px) {
          text-align: center;
          padding-inline: 30px;
        }

        &::before {
          position: absolute;
          content: "";
          right: 0%;
          top: -15px;
          height: 3.5px;
          background-color: #002445;
          width: 40%;
        }

        & > .special-word {
          color: #2e75a9;
          font-weight: bold;
          padding-inline: 5px;
          position: relative;
          @media (max-width: 350px) {
            text-align: start;
          }
        }
      }

      & > .buttons-action__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 40px;
        width: 100%;
        @media (max-width: 991px) {
          display: flex;
          margin-top: 25px;
          justify-content: space-evenly;
        }
        @media (max-width: 350px) {
          flex-direction: column;
        }

        & > button {
          all: unset;
          height: 44px;
          flex-basis: 28%;
          border-radius: 45px !important;
          background-color: #002445;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 14px;
          cursor: pointer;
          font-size: 1.5rem;
          color: white;
          font-weight: 500;
          @media (max-width: 991px) {
            font-size: 1.2rem;
            padding-inline: 8px;
          }
          @media (max-width: 350px) {
            width: 90vw;
            padding-block: 10px;
          }
        }

        & > .active {
          background-color: white;
          border: 2px solid #00406e;
          color: #00406e;
          animation: show 0.4s ease-in;
        }
      }
    }
  }
}
